@page "/Portfolio"
<PageTitle>Portfolio</PageTitle>

<h1>Portfolio</h1>

Here is where you can find all of my programs. Have fun looking at what I can do!



<style>
    
    .text-box{
        position: absolute;
        top: 25%;
        left: 50%;
        height: 150px;
        width: 300px;
        margin: 3%;
        background-color: #ffffec;
        border: 1px solid #000000;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

    .text-box-clear{
        position: absolute;
        top: 0%;
        left: 0%;
        height: 375px;
        width: 250px;
        margin: 3%;
        justify-content: center;
        transition: background-color 0.3s;
    }
    
    
    .button-box {
        height: 100px;
        width: 200px;
        margin: 3%;
        background-color: #fffef5;
        border: 1px solid #000000;
        border-radius: 5px;
        transition: background-color 0.3s;
       
    }

    .button-box:hover {
        background-color: #ffc107;
    }

    .button-link {
        color: #000000;
        text-decoration: none;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .python-button {
        position: absolute;
        left: 16%;
        top: 20%;
        
    }

    .java-button {
        position: absolute;
        left: 16%;
        top: 35%;
    }

    .other-button {
        position: absolute;
        left: 16%;
        top: 50%;
    }

    .home-button {
        position: absolute;
        bottom: -5%;
        right: -3%;
    }
</style>


    <div class="button-box python-button">
        <NavLink class="button-link" href="Python">
            Python Programs
        </NavLink>
    </div>

    <div class="button-box java-button">
        <NavLink class="button-link" href="Java">
            Java Programs
        </NavLink>
    </div>

    <div class="button-box other-button">
        <NavLink class="button-link" href="Other">
            Other Programs
        </NavLink>
    </div>

    <div class="button-box home-button">
        <NavLink class="button-link" href="">
            Home
        </NavLink>
    </div>
