<div class="top-row navbar navbar-dark" style="background-color: #fffccc;">
    <div class="container-fluid">
        <a style="color: #000000;">Navigation Menu</a>
    </div>
</div>

<div class="nav-scrollable" id="nav-menu" style="background-color: #fffccc; accent-color: #ffc107">
    <nav class="nav flex-lg-column">
        <div class="nav-item px-3">
            <div class="nav-box">
                <NavLink class="nav-link" href="Portfolio" style="color: #000000; accent-color: #ffc107; display: block; text-decoration: none; height: 100%;">
                    Portfolio
                </NavLink>
            </div>
        </div>
        <div class="nav-item px-3">
            <div class="nav-box">
                <NavLink class="nav-link" href="About Me" style="color: #000000; display: block; text-decoration: none; height: 100%;">
                    About me
                </NavLink>
            </div>
        </div>
    </nav>
</div>

<style>
    .nav-box {
        padding: 10px;
        margin: 5px;
        background-color: #ffffec; /* Light background color */
        border: 1px solid #000000; /* Black border around the box */
        border-radius: 5px; /* Rounded corners */
        transition: background-color 0.3s; /* Smooth transition for hover effect */
    }

    .nav-box:hover {
        background-color: #ffc107; /* Change background color on hover */
    }
    
</style>


